$background-color: #4a98f7;

@mixin flex($gap: normal, $flex-wrap: nowrap, $flex-direction: row, $justify-content: normal, $align-items: normal) {
    display: flex;
    gap: $gap;
    flex-wrap: $flex-wrap;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin setWidthAndHeight($width: auto, $min-width: auto, $max-width: none, $height: auto, $min-height: auto, $max-height: none) {
    width: $width;
    min-width: $min-width;
    max-width: $max-width;
    height: $height;
    min-height: $min-height;
    max-height: $max-height;
}

@mixin centerByPositionAbsolute() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centerByFlex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin position($position, $top: auto, $right: auto, $bottom:auto, $left: auto) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: none;
    list-style: none;
    text-decoration: none;
    font-family: Consolas, sans-serif;
}

body {
    @include flex($justify-content: center, $align-items: center);
    @include setWidthAndHeight($width: 100vw, $height: 100vh);
    background-color: $background-color;
    
    .container {
        @include flex($gap: 10px);
        @include setWidthAndHeight($width: 100%, $max-width: 1050px);
        padding: 10px;
        
        section {
            background-color: #fff;
            border-radius: 7px;
        }
        
        .tools-board {
            @include setWidthAndHeight($width: 210px);
            padding: 15px 22px 0;
            
            .row {
                margin-bottom: 20px;
                
                .options {
                    margin: 10px 0 0 5px;
                    
                    .option {
                        @include flex($align-items: center);
                        margin-bottom: 10px;
                        cursor: pointer;
                        
                        &:is(:hover, .active) img {
                            filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
                        }
                        
                        & :where(span, label) {
                            color: #5a6168;
                            padding-left: 10px;
                            cursor: pointer;
                        }
                        
                        &:is(:hover, .active) :where(span, label) {
                            color: $background-color;
                        }
                        
                        #fill-color {
                            @include setWidthAndHeight($width: 14px, $height: 14px);
                            cursor: pointer;
                            
                            &:checked ~ label {
                                color: $background-color;
                            }
                        }
                        
                        #size-slider {
                            @include setWidthAndHeight($width: 100%, $height: 5px);
                            margin-top: 10px;
                        }
                    }
                }
            }
            
            .colors {
                
                .options {
                    @include flex($justify-content: space-between);
                    
                    .option {
                        @include setWidthAndHeight($width: 20px, $height: 20px);
                        @include position(relative);
                        border-radius: 50%;
                        margin-top: 3px;
                        
                        &:nth-child(1) {
                            background-color: #fff;
                            border: 1px solid #bfbfbf;
                        }
                        
                        &:nth-child(2) {
                            background-color: #000;
                        }
                        
                        &:nth-child(3) {
                            background-color: #e02020;
                        }
                        
                        &:nth-child(4) {
                            background-color: #6dd400;
                        }
                        
                        &:nth-child(5) {
                            background-color: $background-color;
                        }
                        
                        &.selected::before {
                            @include centerByPositionAbsolute();
                            @include setWidthAndHeight($width: 12px, $height: 12px);
                            content: "";
                            background-color: inherit;
                            border-radius: 50%;
                            border: 2px solid #fff;
                            
                        }
                        
                        &:first-child.selected:before {
                            border-color: #ccc;
                        }
                        
                        #color-picker {
                            opacity: 0;
                            cursor: pointer;
                        }
                    }
                }
                
            }
            
            .buttons {
                button {
                    @include setWidthAndHeight($width: 100%);
                    color: #fff;
                    padding: 11px 0;
                    margin-bottom: 13px;
                    border-radius: 5px;
                    font-size: 0.9rem;
                    cursor: pointer;
                }
                
                .clear-canvas {
                    color: #6c757d;
                    border: 1px solid #6c757d;
                    transition: all 0.3s ease;
                    
                    &:hover {
                        color: #fff;
                        background-color: #6c757d;
                    }
                }
                
                .save-img {
                    background-color: $background-color;
                    border: 1px solid $background-color;
                }
            }
        }
        
        .drawing-board {
            flex: 1;
            
            canvas {
                @include setWidthAndHeight($width: 100%, $height: 100%)
            }
        }
    }
    
}


